In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

In [57]:

sub_df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/kaggle/sample_submission.csv')
train_df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/kaggle/train.csv')
test_df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/kaggle/test.csv')

In [58]:
train_df.head()

,id,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
0,0,I,1.5250,1.1750,0.3750,28.973189,12.728926,6.647958,8.348928,9
1,1,I,1.1000,0.8250,0.2750,10.418441,4.521745,2.324659,3.401940,8
2,2,M,1.3875,1.1125,0.3750,24.777463,11.339800,5.556502,6.662133,9
3,3,F,1.7000,1.4125,0.5000,50.660556,20.354941,10.991839,14.996885,11
4,4,I,1.2500,1.0125,0.3375,23.289114,11.977664,4.507570,5.953395,8

In [59]:
train_df.isnull().any()

id                False
Sex               False
Length            False
Diameter          False
Height            False
Weight            False
Shucked Weight    False
Viscera Weight    False
Shell Weight      False
Age               False
dtype: bool

## handling the sex column

In [60]:
train_sex_col = pd.get_dummies(train_df['Sex'], prefix='Sex', prefix_sep='_', drop_first=True)
test_sex_col = pd.get_dummies(test_df['Sex'], prefix='Sex', prefix_sep='_', drop_first=True)

In [61]:
train_sex_col.head()

   Sex_I  Sex_M
0      1      0
1      1      0
2      0      1
3      0      0
4      1      0

In [62]:
train_df=pd.concat([train_df,train_sex_col],axis=1)
test_df=pd.concat([test_df,test_sex_col],axis=1)

In [63]:
train_df.drop(['id','Sex'],axis=1, inplace=True)
test_df.drop(['id','Sex'],axis=1, inplace=True)

In [64]:
train_df.head()

,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age,Sex_I,Sex_M
0,1.5250,1.1750,0.3750,28.973189,12.728926,6.647958,8.348928,9,1,0
1,1.1000,0.8250,0.2750,10.418441,4.521745,2.324659,3.401940,8,1,0
2,1.3875,1.1125,0.3750,24.777463,11.339800,5.556502,6.662133,9,0,1
3,1.7000,1.4125,0.5000,50.660556,20.354941,10.991839,14.996885,11,0,0
4,1.2500,1.0125,0.3375,23.289114,11.977664,4.507570,5.953395,8,1,0

In [65]:
train_df.columns

Index(['Length', 'Diameter', 'Height', 'Weight', 'Shucked Weight',
       'Viscera Weight', 'Shell Weight', 'Age', 'Sex_I', 'Sex_M'],
      dtype='object')

## Feature Scaling

In [66]:
# from sklearn.preprocessing import StandardScaler
# from sklearn.feature_selection import SelectKBest, f_regression, chi2

# numerical_features = ['Length', 'Diameter', 'Height', 'Weight', 'Shucked Weight',
#                       'Viscera Weight', 'Shell Weight']

# scaler = StandardScaler()
# train_df[numerical_features] = scaler.fit_transform(train_df[numerical_features])

In [67]:
train_df.head()

,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age,Sex_I,Sex_M
0,1.5250,1.1750,0.3750,28.973189,12.728926,6.647958,8.348928,9,1,0
1,1.1000,0.8250,0.2750,10.418441,4.521745,2.324659,3.401940,8,1,0
2,1.3875,1.1125,0.3750,24.777463,11.339800,5.556502,6.662133,9,0,1
3,1.7000,1.4125,0.5000,50.660556,20.354941,10.991839,14.996885,11,0,0
4,1.2500,1.0125,0.3375,23.289114,11.977664,4.507570,5.953395,8,1,0

# Modeling

In [68]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error
import xgboost as xgb

In [69]:
X=train_df.drop('Age', axis=1)
y=train_df['Age']

In [70]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.8,random_state=42)

In [71]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(59240, 9)
(59240,)
(14811, 9)
(14811,)

In [73]:
# model = xgb.XGBRegressor()

# model.fit(X_train, y_train)

# y_pred = model.predict(X_test)

# mse = mean_absolute_error(y_test, y_pred)
# print("Mean Squared Error:", mse)

Mean Squared Error: 1.4208322342415518

In [79]:
# best_params={'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 100}
# xgb_model = xgb.XGBRegressor(**best_params)

# xgb_model.fit(X_train, y_train)

# y_pred = xgb_model.predict(X_test)

# mae = mean_absolute_error(y_test, y_pred)
# print("Mean absolute Error:", mae)

Mean absolute Error: 1.4068121174444073

In [77]:
from sklearn.svm import SVR
svr=SVR()
model=svr.fit(X_train,y_train)
preds=model.predict(X_test)
mae=mean_absolute_error(preds,y_test)
mae

1.405697173754253

# Prediction

**Based on the above result svr yeilds the better results**

In [78]:
test_df.head()

,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Sex_I,Sex_M
0,1.0500,0.7625,0.2750,8.618248,3.657085,1.729319,2.721552,1,0
1,1.1625,0.8875,0.2750,15.507176,7.030676,3.246018,3.968930,1,0
2,1.2875,0.9875,0.3250,14.571643,5.556502,3.883882,4.819415,0,0
3,1.5500,0.9875,0.3875,28.377849,13.380964,6.548735,7.030676,0,0
4,1.1125,0.8500,0.2625,11.765042,5.528153,2.466407,3.331066,1,0

In [80]:

# Make predictions on the scaled test data using the best model
y_test_pred = model.predict(test_df)

# Print the predicted values
print("Predicted Age for Test Data:")
print(y_test_pred)

Predicted Age for Test Data:
[ 7.28044239  7.85687115  9.81897028 ... 12.3515302   9.78870925
 11.85158606]

In [ ]:

# # Make predictions on the scaled test data using the best model
# y_test_pred = xgb_model.predict(test_df)

# # Print the predicted values
# print("Predicted Age for Test Data:")
# print(y_test_pred)

In [81]:
test=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/kaggle/test.csv')

In [82]:
submission_df = pd.DataFrame({'id': test['id'], 'Age': y_test_pred})


# Step 9: Save the submission dataframe to a CSV file
submission_df.to_csv('submission.csv', index=False)

In [83]:
submission_df

           id        Age
0       74051   7.280442
1       74052   7.856871
2       74053   9.818970
3       74054   9.361914
4       74055   7.543459
...       ...        ...
49363  123414   8.855927
49364  123415   7.831531
49365  123416  12.351530
49366  123417   9.788709
49367  123418  11.851586

[49368 rows x 2 columns]